.tag {
  align-items: flex-start;
  border: var(--stroke-width-tag) solid var(--text-subheading);
  border-radius: var(--radius-pill);
  color: var(--text-subheading);
  display: inline-flex;
  font-family: var(--font-heading);
  font-size: 0.55556rem;
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.02778rem;
  line-height: 1;
  padding: var(--space-2) var(--space-3);
  text-transform: uppercase;
}

.active {
  background-color: transparent;
  color: var(--text-subheading);
}
